@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

body{
  font-family: 'Hachi Maru Pop';
  color: #fff;
}
button{
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}
div{
  text-align: center;
}

*{ background:#a5ccdf} 
#awan {
position:absolute;
top: 0px;left:0px;
bottom:0;
text-align:center;
margin:0px;
padding:0px;
color:#fff;

background: url(img/cloud.png) center top repeat-x;
width: 100%;
animation: awan-animasi 30s linear infinite;
-ms-animation: awan-animasi 30s linear infinite;
-moz-animation: awan-animasi 30s linear infinite;
-webkit-animation: awan-animasi 30s linear infinite;
}

@keyframes awan-animasi {
from {
  background-position: bottom;
}
to {
  background-position: 0 100%;
};
}
@-webkit-keyframes awan-animasi {
from {
  background-position: bottom;
}
to {
  background-position: 0 100%;
};
}
@-ms-keyframes awan-animasi {
from {
  background-position: bottom;
}
to {
  background-position: 0 100%;
};
}
@-moz-keyframes awan-animasi {
from {
  background-position: bottom;
}
to {
  background-position:  0 100%;
};
}